$light: #f9F7F0;
$background: #46575E;
$dark: #304046;

body {
    background-color: $light;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;

    h2 {
        text-align: center;
        font-size: 2.6em;
    }

    p {
        font-size: 1.2em;
    }

    /* navigation */
    nav {
        ul {
            border-bottom: 1px solid $dark;
            background-color: $background;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            margin: 0;


            li {
                padding-left: 2em;
                padding-right: 2em;

                a {
                    text-decoration: none;
                    color: $light;

                    &:hover {
                        color: #83BCFF;
                    }
                }
            }
        }

    }

    /* Section home */
    #home {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $background;
            padding: 10px;
            color: $light;
            min-height: 88.5vh;

            #dev {
                text-align: left;
                margin-top: 0;
                font-size: 2.5em;
            }

            .photo {
                @media screen and (max-width: 800px) {
                    width: 100%;
                }

                @media screen and (min-width : 800px) {
                    width: 75%;
                }

                border-radius: 22% 78% 16% 84% / 38% 61% 39% 62%;
                -webkit-box-shadow: inset -1px 3px 8px 5px $dark,
                2px 5px 16px 0px $dark,
                5px 5px 15px 5px rgba(0, 0, 0, 0);
                box-shadow: inset -1px 3px 8px 5px $dark,
                2px 5px 16px 0px $dark,
                5px 5px 15px 5px rgba(255, 0, 0, 0);
            }

            .photoText {
                padding: 2em;

                h1 {
                    font-size: 3em;
                    margin-bottom: 0;
                }

                p {
                    line-height: 1.5em;

                    strong {
                        font-weight: bolder;
                    }
                }

                .homeContact {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    p {
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        color: $light;
                        transition: all 1.5s ease;

                        &:hover {
                            color: #83BCFF;
                        }
                    }

                }
            }

        }
    }

    /* fin de la section home */
    /* section skills */
    #skills {
        height: 88.5vh;
        align-items: center;

        .skillsBlock1 {
            display: flex;
            justify-content: space-around;
        }

        .skillsBlock2 {
            display: flex;
            justify-content: space-around;

            .heightText {
                line-height: 2em;
                text-align: center;
            }
        }

        .titleSkills {
            font-size: 2.1em;
        }

        div {

            img {

                width: 4.5em;
            }
        }

        .toolsImg {
            width: 4.5em;
        }

        .softwareImg {
            width: 4.5em;
        }
    }

    /* fin de la section skills */
    /*section portfolio */
    #portfolio {
        // height: 88.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $dark;
        align-items: center;

        h2,h3 {
            color: $light;
        }

        div {
            overflow-y: scroll;
            height: 42.5em;
            width: 80%;

            img {
                width: 94.1rem;
            }
        }

        .port1 {
            margin-bottom: 4rem;
        }
    }

    /* fin de la section portfolio */
    /* section experience */
    #experience {
        height: 88.5vh;
        display: flex;
        justify-content: space-around;

        .textExp {
            font-size: 1.4em;
            text-align: center;
            font-style: italic;
            margin-bottom: 0;
        }

        .titleExp {
            font-size: 2.1em;
            font-style: italic;
            text-align: center;
            margin-bottom: 0.4em;
        }

        .computerBlock {
            display: flex;
            flex-direction: column;
            width: 50%;

            .expBlock1 {
                display: flex;
                justify-content: space-around;

                p {
                    text-align: center;
                }
            }

            .expBlock4 {
                display: flex;
                justify-content: space-around;

                p {
                    text-align: center;
                }
            }
        }

        .otherBlock {
            display: flex;
            flex-direction: column;
            width: 50%;

            .expBlock2 {
                display: flex;
                justify-content: space-around;

                p {
                    text-align: center;
                }
            }

            .expBlock3 {
                display: flex;
                justify-content: space-around;

                p {
                    text-align: center;
                }
            }
        }
    }
}

/* fin de la section experience */
/* Responsive */
@media all and (max-width: 800px) {
    body {
        font-size: 0.8em;

        nav {
            display: none;
        }

        header {
            flex-flow: column wrap;

        }

        #skills {
            height: auto;

            .skillsBlock1 {
                flex-flow: column;
                text-align: center;
            }

            .skillsBlock2 {
                flex-flow: column;
                text-align: center;
            }
        }

        #portfolio {
            flex-flow: column;
            height: auto;

            .card {
                margin-top: 1em;
                margin-bottom: 1em;
            }

            div {
                overflow-y: scroll;
                height: 24em;
                width: 80%;

                img {
                    width: 40rem;
                }
            }
        }

        #experience {
            flex-flow: column;
            align-items: center;
            height: auto;

            .otherBlock {
                .expBlock3 {
                    flex-flow: column;
                }
            }
        }
    }
}

@media all and (max-width: 400px) {
    body {
        #portfolio {
            div {
                height: 12em;
                img {
                    width: 19.5rem;
                }
            }
        }
    }
}